

<div class="footer">
  
  <form style="border:1px solid #EEE; padding:3px;text-align:center;margin-top:120px;" action="https://tinyletter.com/javisantana" method="post" target="popupwindow" onsubmit="window.open('https://tinyletter.com/javisantana', 'popupwindow', 'scrollbars=yes,width=800,height=600');return true"><p><label for="tlemail">Leave here your email to receive an update when I publish a new post, you could also <a href="http://twitter.com/javisantana">follow me on twitter</a>
      </label></p><p><input type="text" style="width:140px" name="email" id="tlemail" /></p><input type="hidden" value="1" name="embed"/><input type="submit" value="Subscribe" /><p><a href="https://tinyletter.com" target="_blank">Thanks to TinyLetter</a></p></form>
         
</div>
      <script type="text/javascript">
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-165269-5']);
        _gaq.push(['_trackPageview']);

        (function() {
          var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
          ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
          var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();
      </script>
    </body>

</html>

