<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
        <title>Javi Santana - blog</title>
        <link rel="stylesheet" href="/assets/css/syntax.css" type="text/css" />
        <link rel="stylesheet" href="/assets/css/blog4.css" type="text/css" />
        <link href='http://fonts.googleapis.com/css?family=Noto+Serif:400' rel='stylesheet' type='text/css'>
        <link rel="alternate" type="application/rss+xml" title="{{ site.name }}" href="{{site.url}}/feed.xml"> 
        <script>
          window.onload = function() {
          }
        </script>
    </head>
    <body>
