<script src="/assets/js/tracking.js"></script>
<script>
(function() {
    const e = (name, data = {}) => {
        navigator.sendBeacon('https://e.javisantana.com/e', JSON.stringify({
            e: name,
            u: location.pathname,
            r: document.referrer,
            w: innerWidth,
            ...data
        }));
    };
    e('v');
    document.addEventListener('click', ev => {
        const a = ev.target.closest('a');
        if (a) e('c', { t: a.href });
    });
})();
</script>
