
 <script src="https://unpkg.com/@tinybirdco/flock.js" data-host="https://api.tinybird.co" data-token="p.eyJ1IjogIjM5ZjBiNjdiLThjODQtNDU2Zi1iZTdmLWQ4MDhmMzhjN2YxMCIsICJpZCI6ICIwZWNiOTAzMi00ZTY0LTQwYjUtOWFlZi1hZmNlZTRiM2Y2NzkifQ.l2HdpANtMERBASSMOP1FOpG7kvukkVk2MSpg0iDOiYk"></script>
 
 <script>
  function trackLinkClicks(event) {
  const link = event.target.closest('a'); // Finds the nearest anchor element
  if (link) {
    const linkURL = link.href;
    const linkText = link.textContent || link.innerText;

    Tinybird.trackEvent('click', {
      linkURL: linkURL,
      linkText: linkText,
    })
  }
  }

  // Attach event listener to the document
  document.addEventListener('click', trackLinkClicks);

 </script>
