
<!--<script src="https://cdn.tinybird.co/v1/tinybird.js"></script>-->
<!-- <script src="/assets/js/tracker.js"></script> -->
  <script>
    var img = document.createElement('img')
    img.src = "https://ui.tinybird.co/static/missing.gif?cl=javisantanacom&date=" + Date.now() + "&ua=" + encodeURIComponent(navigator.userAgent) 
    img.width = 1;
    img.height = 1;
    img.style.display = 'none'
    document.body.appendChild(img)
  </script>
  <noscript>
    <img style="display:none" src="https://ui.tinybird.co/static/missing.gif?cl=javisantanacom&noscript"></img>
  </noscript>

<script>
  (function(t,i0,n,y,b,i1,r,d){t[y]=t[y]||[];var z=i0.getElementsByTagName(n)[0],w=i0.createElement(n),fn=y!='tbt'?'&f='+y:'',a=!!i1?'&a='+i1:'',da=!!r?'&d='+r:'',h=!!d?'&h='+encodeURIComponent(d):'';
w.async=true;w.src='https://cdn.tinybird.co/static/js/t.js?client=whatever&t='+encodeURI(b)+fn+a+da+h;z.parentNode.insertBefore(w,z);
})(window, document, 'script', 'tbt', 'p.eyJ1IjogIjI0OTA1NjBmLWJkYTEtNDE0OC1iZmViLTNmYWEzODMzZGEzMyIsICJpZCI6ICJkN2RhZmY4YS1jNTFiLTQzNTctYjM1ZC03NGNkYzJkZWE5ZTAifQ.ddQaLVTnByL-0P3K5hl0EKv8Mpg41PjF41oVzKJN07Q', 'main', 'tracker_javisantana2')

  tbt.push(['pageload', document.referrer ])
</script>
