---
layout: default2
pagination: 
  enabled: true
---

{% include header_small.html %}

<header class="masthead">        
  <nav class="masthead-nav">
    {% for nav in site.nav %}
    <a href="{{ nav.href }}">{{ nav.name }}</a>
    {% endfor %}
  </nav>
</header>

{% for post in paginator.posts %}
<div class="content post">
  <h1 class="post-title">{{ post.title }}</h1>
  {{ post.content }}
  <div class="post-date">
    <time><a href="{{site.url}}{{post.url}}">#</a>· {{ post.date | date_to_string }}</time>
    {% include social.html post=post %}
  </div>
</div>
{% endfor %}

{% if paginator.total_pages > 1 %}
<ul>
  {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path | prepend: site.baseurl }}">Older posts</a>
  {% endif %}
  {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path | prepend: site.baseurl }}">Newer posts</a>
  {% endif %}
</ul>
{% endif %}

{% include footer2.html %}
