---
layout: base_data
---
<div class="container">
  <div class="entry">
    <h1> <a href="/">≗</a> {{page.title}} <span id="pageviews" style="color: #999; font-size: 0.5em; font-weight: normal;"></span> — <span><a href="https://twitter.com/javisantana">@javisantana</a></span></h1>
    {{page.content}}
  </div>

  <!--
  <div class="entry more">
    <h2>More posts</h2>
    <ul>
      {% assign alldocs = site.posts | concat: site.inspiration |  concat: site.fastdata | sort:"date" | reverse%}	
  {% for post in alldocs limit:10 %}
  {% if post.url != page.url %} 
  {% if post.title != "Index" %}
  <li><a href="{{site.url}}{{post.url}}">{{ post.title }}</a> </li> 
  {% endif %}
  {% endif %}
  {% endfor %}
    <ul>
  </div>
  -->

  <div style="text-align: center;margin-top: 4em;">
    <iframe src="https://failingwithdata.substack.com/embed" width="480" height="150" style="border:1px solid #EEE; background:white;" frameborder="0" scrolling="no"></iframe>
  </div>
  </div>

  <div class="entry more close"><a href="/">≗</a> </div>

  <script>
    const currentPath = window.location.pathname;
    const apiUrl = `https://api.europe-west2.gcp.tinybird.co/v0/pipes/url_visits.json?path=${encodeURIComponent(currentPath)}&limit=100&token=p.eyJ1IjogIjhiNDNmMmZiLTA4N2YtNDc3Ny1hNWU2LTA3MmY3OGQzMzY0NiIsICJpZCI6ICI3ZWMwYmY5Yy0wZDc2LTQ5MmEtOGNiMC03ZTE5ZWRmZGMwMTIiLCAiaG9zdCI6ICJnY3AtZXVyb3BlLXdlc3QyIn0.qRnN2JjpFRx5mU9mLWS43yn0qGMHNaYr9WturqwF9tU`;
    
    fetch(apiUrl)
      .then(response => response.json())
      .then(data => {
        const visits = data.data[0]?.visits || 0;
        document.getElementById('pageviews').textContent = `[${visits}]`;
      })
      .catch(error => console.error('Error fetching pageviews:', error));
  </script>
</div>


