---
layout: base_data
---
<div class="container">
  <div class="entry">
    <h1><a href="/fastdata">≗</a> {{page.title}} — <span><a href="https://twitter.com/javisantana">@javisantana</a></span></h1>
    {{page.content}}
  </div>

  <div class="entry more">
    <h2>More posts</h2>
    <ul>
  {% for post in site.fastdata limit:5 %}
  {% if post.url != page.url %} 
  {% if post.title != "Index" %}
  <li><a href="{{site.url}}{{post.url}}">{{ post.title }}</a> </li> 
  {% endif %}
  {% endif %}
  {% endfor %}
    <ul>
  </div>
  <div class="entry more close"><a href="/fastdata">≗</a> </div>
</div>


