<!DOCTYPE html>
<html>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <head>
    <title>{{title}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../assets/css/pygments.css" type="text/css" />
    <style>
      #content {
        max-width: 600px;
        margin: 0 auto;
        font-family: serif;
        text-align: justify;
      }
      .post {
        line-height: 1.35em;
        margin-top: 70px;
        font-size: 23px;
      }
      time a {
        font-size: 15px;
        color: #666;
      }
    </style>
  </head>
  <body>
    <div id="content">
    <header>
      <a href="/">javisantana.com</a>
    </header>
    {{ content }}
    </div>
  </body>
</html>
