<!DOCTYPE html>
<html>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <head>
    <title>{{title}}</title>
    <link rel="stylesheet" href="../assets/css/pygments.css" type="text/css" />
    <style>
      #content {
        width: 500px;
        margin: 0 auto;
        font-family: monospace;
        text-align: justify;
      }
      .post {
        margin-top: 50px;
        font-size: 17px;
      }
      time {
        font-size: 13px;
        color: #666;
      }
    </style>
  </head>
  <body>
    <div id="content">
    <header>
      <a href="/">javisantana.com</a>
    </header>
    {{ content }}
    </div>
  </body>
</html>
