svg {
  font: 10px sans-serif;
}

.left {
  float: left;
  width: 223px;
  display:inline-block;
  height: 100%;
}
.right {
  display:inline-block;
  width: 800px;
  height: 100%;
  border-left: 1px solid rgba(0, 0, 0, 0.1);
}

.axis path {
  display: none;
}

.axis line {
  fill: none;
  stroke-opacity: 0.1;
  stroke: #000;
  stroke-width: 1px;
  shape-rendering: crispEdges;
  stroke-dasharray: 4, 3;
}

.line {
  fill: none;
  stroke: #000;
  stroke-width: 1.5px;
  stroke-linejoin: round;
  stroke-linecap: round;
}

.line-1 { stroke: #1f77b4; }
.line-2 { stroke: #2ca02c; }
.line-3 { stroke: #d62728; }
.line-4 { stroke: #bcbd22; }
.line-5 { stroke: #ff7f0e; }

.fill-1 { fill: #1f77b4; }
.fill-2 { fill: #2ca02c; }
.fill-3 { fill: #d62728; }
.fill-4 { fill: #bcbd22; }
.fill-5 { fill: #ff7f0e; }

.car_pos {
  fill-opacity: 0.4;
}

.background {
  fill: none;
  pointer-events: all;
}

#states {
  fill: #aaa;
}

#states .active {
  fill: orange;
}

.lap {
  fill: none;
  stroke: #000;
  stroke-width: 1px;
  stroke-opacity: 0.2;
  stroke-linejoin: round;
  stroke-linecap: round;
  pointer-events: none;
}

body {
  background: #F4F4F4;
}
.container {
  width: 1024px;
  margin: 40px auto;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background: white;
  height: 100%;
}

ul {
  padding: 0;
  margin:0;
  list-style-type: none;
  text-align: center;
}

li.lap_item {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding: 5px 0;
}

li.lap_item.enabled{
  font-weight: bold;
}

