
html, body, { margin: 0; padding: 0; 
  background: url(../img/bgnoise.gif);
}
ul, li{
  margin: 0;
  padding: 0;
}
html, body { height: 100%;
  overflow: hidden;

}
#layout {
    padding-top: 10px;
    margin:0 auto;
    width: 900px;
    padding: 0 00px;
    height: 100%;
    text-align:center;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
}
.box {
    text-align: left;
    margin-top: 30px;
    border-radius: 5px;
    background-color: white;
    -webkit-box-shadow: 0px 0px 10px #DDD;
    -moz-box-shadow: 0px 0px 10px #222;
}
.padding20 {
  padding: 20px;
}
.box h1 {
  font-size: 31px;
  color: #444;
  letter-spacing:-1px;
  font-weight: bold;
  margin: 0;
  padding: 0;
  line-height:1em;
  border-bottom: 1px solid #eee;
  margin-bottom: 20px;
  padding-bottom: 5px;
}
.box h3 {
  font-size: 13px;
  text-transform: uppercase;
  line-height: 1em;
  padding: 0;
  margin: 0;
}
.box img {
    width: 100%;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.box .info {
  padding: 20px;
}
header  {
  margin-top: 10px;
  text-align: left;
  position: relative;
  padding: 10px 0;
}
header h1 {
  font-size: 61px;
  color: #666;
  line-height: 1em;
  letter-spacing: -2px;
  margin: 0;
}

#work_area {
  overflow: auto;
  padding: 10px;
}

#editor {
  width: 400px;
  height: 400px;
  float: left;
  position: relative;
}

#tools {
  width: 300px;
  height: 360px;
  float: left;
  margin-left: 20px;
}

#tools ul {
  margin: 20px 0 30px 0 ;
}


#game {
  width: 480px;
  height: 160px;
  position: relative;
}


#intro, #more {
    width: 600px;
}
#intro {
    float: left;
    position: relative;
}
#more {
    float: right;
    position: relative;
}
#l{
    text-align:left;
    font-size:2em;
    margin-bottom:3em;
}

a.button {
  padding: 20px;
  display: inline-block;
  background: #EEE;
  color: black;
  border-radius: 3px;
  font-weight: normal;
  text-decoration: none;
  box-shadow: 0px 0px 8px #AAA;
  margin-right: 5px;
}

.button.selected {
  box-shadow: none;
}

.button .color {
  padding: 0 10px;
}
.button.selector {
  padding: 10px;
}

.actions_block li { 
    list-style:none;
    display: inline-block;
}

.u{width:25%;display:inline;float:left;text-align:left}
p{
    color: #444;
}
#c {
    width: 100%;
    /*height: 80px;*/
}
.block {
    text-align: left;
    padding: 5px 30px;
    display: inline;
    width: 240px;
    float: left;
}
.block a {
    color: #06c;
    background: none;
    margin: 0;
    padding:0;
}
#goback {
    margin-top: 20px;
}

.on {
  background: #000;
}
